<div class="language-selector">
  <div class="dropdown-container" (clickOutside)="closeDropdown()">
    <button
      type="button"
      class="dropdown-trigger"
      (click)="toggleDropdown()"
      [attr.aria-expanded]="isOpen"
    >
      @if (currentLanguageOption) {
        <span class="flag-icon">
          @if (currentLanguage === 'en-GB') {
            <app-svg-icon name="flags/flag-en-gb" [width]="24" [height]="16"/>
          }
          @if (currentLanguage === 'nl-BE') {
            <app-svg-icon name="flags/flag-nl-be" [width]="24" [height]="16"/>
          }
        </span>
        <span class="language-name">{{ currentLanguageOption.nameKey | l10n }}</span>
      }
      <span class="dropdown-arrow" [class.open]="isOpen">
        <app-svg-icon name="chevron-down" [width]="16" [height]="16"/>
      </span>
    </button>

    @if (isOpen) {
      <div class="dropdown-menu">
        @for (lang of languages; track lang.code) {
          <button
            type="button"
            class="dropdown-item"
            [class.selected]="lang.code === currentLanguage"
            (click)="selectLanguage(lang)"
          >
            <span class="flag-icon">
              @if (lang.code === 'en-GB') {
                <app-svg-icon name="flags/flag-en-gb" [width]="24" [height]="16"/>
              }
              @if (lang.code === 'nl-BE') {
                <app-svg-icon name="flags/flag-nl-be" [width]="24" [height]="16"/>
              }
            </span>
            <span class="language-name">{{ lang.nameKey | l10n }}</span>
            @if (lang.code === currentLanguage) {
              <span class="check-icon">
                <app-svg-icon name="check" [width]="16" [height]="16"/>
              </span>
            }
          </button>
        }
      </div>
    }
  </div>
</div>
