<div class="select-dropdown">
  <div class="dropdown-container" (clickOutside)="closeDropdown()">
    <button
      type="button"
      class="dropdown-trigger"
      [class.disabled]="disabled"
      (click)="toggleDropdown()"
      [attr.aria-expanded]="isOpen"
      [attr.aria-disabled]="disabled"
    >
      <span class="option-name">{{ (currentOption?.nameKey ?? '') | l10n }}</span>
      <span class="dropdown-arrow" [class.open]="isOpen">
        <app-svg-icon name="chevron-down" [width]="16" [height]="16" />
      </span>
    </button>

    @if (isOpen) {
      <div class="dropdown-menu">
        @for (option of options; track option.id) {
          <button
            type="button"
            class="dropdown-item"
            [class.selected]="option.id === selectedId"
            (click)="select(option)"
          >
            <span class="option-name">{{ option.nameKey | l10n }}</span>
            @if (option.id === selectedId) {
              <span class="check-icon">
                <app-svg-icon name="check" [width]="16" [height]="16" />
              </span>
            }
          </button>
        }
      </div>
    }
  </div>
</div>
