<div class="teams-container">
  <app-team-list-editor
    [teams]="state.teams"
    [showPresence]="true"
    [readonly]="!isSetup"
    [showCounters]="isSetup"
    [showStartButton]="false"
    [startDisabled]="hasTeamWithTags"
    (teamAdded)="onTeamAdded($event)"
    (teamEdited)="onTeamEdited($event)"
    (teamRemoved)="onTeamRemoved($event)"
    (teamPresent)="onTeamPresent($event)"
    (teamAbsent)="onTeamAbsent($event)"
    (startTournament)="startTournament()"
  />
  <div class="page-nav teams-page-nav">
    <button type="button" class="btn btn-secondary" routerLink="/tournament/setup">&#8592; {{ 'nav.setup' | l10n }}</button>
    @if (isSetup) {
      <button type="button" class="btn" [class.btn-primary]="!hasTeamWithTags" [class.btn-secondary]="hasTeamWithTags" [disabled]="hasTeamWithTags" (click)="startTournament()">{{ 'nav.startTournament' | l10n }} &#8594;</button>
    } @else {
      <button type="button" class="btn btn-primary" routerLink="/tournament/rules">{{ 'nav.rules' | l10n }} &#8594;</button>
    }
  </div>
</div>
