<div class="teams-container">
  <app-team-list-editor
    [teams]="state.teams"
    [teamPresence]="state.teamPresence"
    [readonly]="!isSetup"
    [showCounters]="isSetup"
    [showStartButton]="false"
    [startDisabled]="hasTeamWithTags"
    (teamAdded)="onTeamAdded($event)"
    (teamEdited)="onTeamEdited($event)"
    (teamRemoved)="onTeamRemoved($event)"
    (teamPresent)="onTeamPresent($event)"
    (teamAbsent)="onTeamAbsent($event)"
    (startTournament)="startTournament()"
  />
  @if (isSetup) {
    <div class="page-nav teams-page-nav">
      <button type="button" class="btn btn-secondary" routerLink="/tournament/setup">&#8592; {{ 'nav.setup' | l10n }}</button>
      <button type="button" class="btn" [class.btn-primary]="!hasTeamWithTags" [class.btn-secondary]="hasTeamWithTags" [disabled]="hasTeamWithTags" (click)="startTournament()">{{ 'nav.startTournament' | l10n }} &#8594;</button>
    </div>
  }
</div>
